.panel.panel-primary
    .panel-heading
        .panel-title {{filedetails.name || urlLink.name+urlLink.type || "Google User Account Details"}}
    .panel-body
        img.img-responsive.img-rounded(ng-if='filedetails.type=="image"', ng-src='{{ filedetails.path }}')
        video.img-responsive.img-rounded(ng-if='filedetails.type=="video"', controls, ng-src='{{ filedetails.path }}')
        audio(ng-if='filedetails.type=="audio"',controls)
            source(ng-src='{{filedetails.path}}',type="audio/mpeg")
        iframe(ng-if='filedetails.type=="html"' ng-src='{{ filedetails.path }}')
        div(ng-if='fileType=="link"')
            form(role="form",name="linkform")
                .form-group.row
                    .col-sm-2.text-right
                        h5 File Name
                    .col-sm-10
                        h5
                            b {{urlLink.name}}
                .form-group.row
                    .col-sm-2.text-right
                        label.control-label(translate) Link Type
                    .col-sm-8
                        select.form-control(ng-options='entry.ext as entry.name for entry in linkTypes',name='linktype', ng-model='urlLink.type', required='')
                .form-group.row
                    .col-sm-2.text-right
                        label.control-label(translate) Link Address
                    .col-sm-8
                        input.form-control(type='text',name="linkAddress" ng-model='urlLink.link',required='')
                .form-group.row
                    .col-sm-2.col-sm-offset-8
                        button.btn.btn-success.pull-right(ng-show="linkform.$valid && linkform.$dirty",ng-click="saveNewChanges()") Update
                    .col-sm-2
                        button.btn.btn-warning(ng-click="linkUpdateCancel()") Back
        div(ng-if='(fileType=="gcal") && calendar.list.length')
            h4: strong  Profile
            .media
                .pull-right
                    img.media-object(ng-src="{{calendar.profile.picture}}", style="width:84px"  )
                .media-body.pull-left
                    h4.media-heading
                        |   &nbspEmail:&nbsp&nbsp
                        span(ng-bind="calendar.profile.email")
                        br
            h3 Choose a Calendar for subscribing to Events
            br
            ul.list-group
                li.list-group-item(ng-repeat = "item in calendar.list")
                    .row
                        .col-sm-8
                            h4.media-heading: strong {{item.summary}}
                        .col-sm-4
                            div.radio
                                input(type="radio", name="email", ng-click='selectedCalendar(item.id)', ng-checked="calendar.selected == item.summary")


    .panel-footer(ng-if='fileType != "link"')
        .row
            .col-sm-10(ng-show='fileType=="other"')
                categories(selected-labels="selectedLabels")
            .col-sm-2.pull-right
                button.btn.btn-success.pull-right(ng-click='save()') DONE


