
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">{{filedetails.name || urlLink.name+urlLink.type || "Google User Account Details"}}</div>
  </div>
  <div class="panel-body"><img ng-if="filedetails.type==&quot;image&quot;" ng-src="{{ filedetails.path }}" class="img-responsive img-rounded"/>
    <video ng-if="filedetails.type==&quot;video&quot;" controls="controls" ng-src="{{ filedetails.path }}" class="img-responsive img-rounded"></video>
    <audio ng-if="filedetails.type==&quot;audio&quot;" controls="controls">
      <source ng-src="{{filedetails.path}}" type="audio/mpeg"/>
    </audio>
    <iframe ng-if="filedetails.type==&quot;html&quot;" ng-src="{{ filedetails.path }}"></iframe>
    <div ng-if="fileType==&quot;link&quot;">
      <form role="form" name="linkForm">
        <legend>Link File Details</legend>
        <div class="form-group row">
          <label class="col-sm-4 control-label">File Name:</label>
          <div class="col-sm-8">
            <h4>{{urlLink.name}}</h4>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 control-label">Type:</label>
          <div class="col-sm-6">
            <select ng-options="entry.ext as entry.name for entry in link.types" name="linktype" ng-model="urlLink.type" required="" class="form-control"></select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 control-label">Address:</label>
          <div class="col-sm-6">
            <input type="text" ng-model="urlLink.link" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-sm-offset-10">
            <button ng-click="updateLink()" ng-if="linkForm.$dirty" class="btn btn-success">Update</button>
          </div>
        </div>
      </form>
    </div>
    <div ng-if="(fileType==&quot;gcal&quot;) &amp;&amp; calendar.list.length">
      <h4><strong> Profile</strong></h4>
      <div class="media">
        <div class="pull-right"><img ng-src="{{calendar.profile.picture}}" style="width:84px" class="media-object"/></div>
        <div class="media-body pull-left">
          <h4 class="media-heading">  &nbspEmail:&nbsp&nbsp<span ng-bind="calendar.profile.email"></span><br/></h4>
        </div>
      </div>
      <h3>Choose a Calendar for subscribing to Events</h3><br/>
      <ul class="list-group">
        <li ng-repeat="item in calendar.list" class="list-group-item">
          <div class="row">
            <div class="col-sm-8">
              <h4 class="media-heading"><strong>{{item.summary}}</strong></h4>
            </div>
            <div class="col-sm-4">
              <div class="radio">
                <input type="radio" name="email" ng-click="selectedCalendar(item.id)" ng-checked="calendar.selected == item.summary"/>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div ng-show="fileType==&quot;other&quot;" class="col-sm-10">
        <categories selected-labels="selectedLabels"></categories>
      </div>
      <div class="col-sm-2 pull-right">
        <button ng-click="save()" class="btn btn-success pull-right">DONE</button>
      </div>
    </div>
  </div>
</div>